<h1 class="text-2xl font-bold text-emerald-600 mb-4 text-center mt-3">New proposal</h1>

<%= render "form", proposal: @proposal %>

<br>

<div class="flex justify-center mt-6 gap-3">
  <%= link_to "Back to proposals", proposals_path, class: "text-emerald-600 hover:text-emerald-700 font-medium" %>
</div>
