<div id="<%= dom_id negotiation %>">
  <p>
    <strong>User:</strong>
    <%= negotiation.user_id %>
  </p>

  <p>
    <strong>Proposal:</strong>
    <%= negotiation.proposal_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= negotiation.price %>
  </p>

</div>
